.counter::after
{
	content: counter(count);
	height: 100px;
	width: 100px;
	font-size: 30px;
	margin: 20px 100px;
	transition: all 0.4s ease;
	animation: counter 5s ease-in-out infinite;
	counter-reset: count;
}
@keyframes counter
{
0% {
	counter-increment: count 0;
}
10% {
	counter-increment: count 1;
}
20% {
	counter-increment: count 2;
}
30% {
	counter-increment: count 3;
}
40% {
	counter-increment: count 4;
}
50% {
	counter-increment: count 5;
}
60% {
	counter-increment: count 6;
}
70% {
	counter-increment: count 7;
}
80% {
	counter-increment: count 8;
}
90% {
	counter-increment: count 9;
}
100% {
	counter-increment: count 10;
}
}